<div class="wrapper py-5">
    <div class="container">
        <header class="py-2">
            <h1>
                <strong>
                    SQL TO DO
                </strong>
            </h1>
        </header>
        <button class="btn-lg btn-dark btn py-3 start-btn">START</button>
    </div>
</div>